/**
 * @name Wildberry
 * @version 1.0.0
 * @description: Inspired by a Pop Tart flavour enjoy a berry inspired color storm for discord.
 * @website https://github.com/DagCord/Wildberry
 */

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');



:root {
  --darkplus-bg: #0b0017;
  --darkplus-bg2: #0b0017;
  --darkplus-sec: #783cba;
  --darkplus-links: ##2b00ff;
  --darkplus-home-icon: url(https://media.discordapp.net/attachments/1003890992107225148/1132089996497649745/NICKER.gif);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}
